################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/localhost_52536
/.vs/slnx.sqlite
/.vs
